name: mopro_lowfi_flutter
description: Low-fidelity Flutter app implementing mopro wireframes (navigation only).
publish_to: 'none'
version: 0.1.0+1

environment:
  sdk: ">=2.17.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
